

{{#if user}}
<div>Hola {{user.nombre}}</div>
{{/if}}
<a id="logout" href="/logout">Salir</a>



<div class="main-container">

    <div class="index-title">
        <h1>¡Bienvenido!</h1>
        <h3 class="subtitle-index">Navega por las principales áreas de tu negocio</h3>
    </div>
    
    <div class="compatibility">
        <a class="compatibility-link" href="/admin/products">Repuestos</a>
        <a class="compatibility-link" href="/admin/compatibility">Compatibilidad</a>
    </div>

    <div class="links-container">
        <a href="/admin/clients" class="link"><span>Clientes</span></a>
        <a href="/admin/pedidos" class="link"><span>Cotizaciones</span></a>
        <a href="/admin/products" class="link"><span>Productos</span></a>
        <a href="/admin/models" class="link"><span>Modelos</span></a>
    </div>


    
</div>

<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>