
 <h1>Checkout</h1>
{{#if listaProductos}}

    {{#each listaProductos}}

        <div>Producto</div>

    {{/each}}
{{else}}
<div>No hay resultados</div>
{{/if}}



<script src="/js/checkout.js"></script>
<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>