

{{#if clientsResults}}
<div class="results-title">
    <h2>CLIENTES</h2>
</div>


<div class="btnToAdmin">
    <a href="/admin"><i id="btnBackAdmin" class="fas fa-arrow-alt-circle-left"></i></a>
    <a class="backToPanel" href="/admin">Volver al panel</a>
</div>
{{!--     <h3 style="margin-top:2rem;">Busca el cliente por ID</h3>
    <div>
        <input type="number" id="cliente-search">
        <button class="btn btn-info">Buscar</button>
    </div> --}}

<div class="adminResults">
    
{{!--     <div class="options-box">
        
        <a href="/admin/submodels/add"><i class="fas fa-plus-circle"></i></a>
        <a href="">Agregar producto</a>
        
    </div> --}}
    <table class="resultsTable">
        
    <tr class="firstColumn"><td>Acciones</td><td>ID</td><td>Nombre</td></tr>
   {{#each clientsResults}}
    <tr>
        <td>
            <a class="btn btn-warning" style="color:#000;" href="/admin/clients/edit?id={{id}}">Editar</a>
        </td>
        <td>{{id}}</td>
        <td>{{nombre}}</td>
    </tr>
    {{/each}}
    </table>
</div>
    



</div>
{{/if}}

<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>

<script>
        const pedidoSearch = document.getElementById("cliente-search")
    pedidoSearch.addEventListener("change", e => {
        e.preventDefault();
        window.location.href = `/admin/clients/${e.target.value}`
    })
</script>