<main class="main-index">
   <h2>Buscador de repuestos</h2>
   <div class="index-forms">
      <form action="/brands" method="POST" id ="formBrand" autocomplete="off">
         <input placeholder="Marca" list="brand" name="brand" id="inputBrand">
         <datalist id="brand">
         {{#each resultados}}
         <option value="{{nombre}}" data-id ="{{{id}}}">{{{nombre}}}</option>
         {{/each}}
         </datalist>  
      </form>

      <form action="/models" method="POST" id ="formModels" autocomplete="off">
         <input placeholder="modelo" list="model" name="model" id="inputModel" disabled>
      </form>

      <form action="/submodels" method="POST" id ="formSubmodels" autocomplete="off">
         <input placeholder="submodelo"list="submodel" name="submodel" id="inputSubmodel" disabled>
      </form>

      <form action="/years" method="POST" id ="formYears" autocomplete="off">
         <input placeholder="año"list="year" name="year" id="inputYear"disabled>
      </form>

      <button id="btnSearch">Buscar</button>

   </div>

</main>


<script src="/js/main.js" type="module"></script>

