

{{#if resultsModels}}
<div class="results-title">
    <h2>MODELOS</h2>
</div>

<div class="models-panel">
    <div class="models">
        <a href="/admin-nueve/brands">Marcas</a>
    </div>
    <div class="models">
        <a href="/admin-nueve/models">Modelos</a>
    </div>
    <div class="models">
        <a href="/admin-nueve/submodels">Submodelos</a>
    </div>

</div>

<div class="btnToAdmin">
    <a href="/admin-nueve"><i id="btnBackAdmin" class="fas fa-arrow-alt-circle-left"></i></a>
    <a class="backToPanel" href="/admin-nueve">Volver al panel</a>
</div>

<div class="adminResults">
{{!--         <div class="options-box">
        
        <a href=""><i class="fas fa-plus-circle"></i></a>
        <a href="">Agregar modelo</a>
        
    </div> --}}
    <table class="resultsTable">
    <tr class="firstColumn"><td>Editar</td><td>ID</td><td>Modelo</td></tr>
   {{#each resultsModels}}
    <tr>
        <td>
            <a class="btn btn-info" style="color:#fff;"href="/admin-nueve/models/edit?id={{id}}">Revisar</a>
            </td>
            <td>{{id}}</td><td>{{nombre}}</td></tr>
    {{/each}}
    </table>
</div>



</div>
{{/if}}

<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>