<button style="z-index:30;" class="btnCart"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
    </svg>
        <div id="cart-circle"  class="circle">
    </svg>
    </div>
    <p style="color:#6EA0F3; margin:0;padding:0;font-weight:bold;">0</p>
    <a class="shopping-cart" style="color:#ccc; display:flex; justify-content:center; align-items:center; align-content:center;text-decoration:none; " href="/checkout"></a>
</button>

<h2 class="title">
    NOSOTROS
</h2>


<section class="us">

    <div class="us-text">
        <div class="border-line"></div>
        <p>Hace 35 años se estableció AutoNueve Repuestos con una visión de proporcionar soluciones
            automotrices de alta calidad y servicio. En nuestros primeros años nos enfocamos en desarrollar
            relaciones sólidas con proveedores confiables y en desarrollar una atención al cliente
            personalizada y confiable. A medida que crecimos, y fuimos posicionándonos en el mercado,
            expandimos nuestra variedad de marcas y modelos para adaptarnos a la evolución del mercado
            automotriz, ofreciendo una amplia selección de repuestos y accesorios, tanto como originales de
            alta calidad como alternativos para llegar a las demandas de nuestros clientes cada vez más
            exigentes.
            <br/>
            <br/>
            Hoy en día con más de 35 años de antigüedad Autonueve Repuestos, nos orgullece habernos
            convertido en un referente de la industria automotriz nacional con despacho hacia todo el
            territorio nacional. Seguimos comprometidos con nuestros valores de calidad, excelencia al
            servicio y confiablidad. </p>
        <p> La confianza de nuestros clientes significa el cumplimiento de nuestra meta, posicionarnos como vendedores
            de repuestos acorde a las expectativas del mercado, entregando productos y servicios de calidad, que
            permitan que tú obtengas los repuestos acordes a tuproyecto.</p>


               <h2>Compromiso</h2>
        <div class="border-line"></div>
        <p>Brindar soluciones automotrices completas, ofreciendo productos de alta calidad, desde repuestos originales y alternativos, además de entregar un servicio excepcional, para satisfacer y responder las necesidades de nuestros consumidores.</p>

   <h2>Visión</h2>
        <div class="border-line"></div>

    <p>Buscamos establecer relaciones duraderas con nuestros clientes actuales y futuros, convertirnos
en un referente en la comercialización de repuestos de autos, reconocidos por la variedad de
productos y eficiencia en la atención al cliente, impulsando el crecimiento y éxito a nuestros
clientes.</p>


<h2>Ubicación</h2>
<p>Gran Avenida Jose Miguel Carrera #6950-A, a pasos de Metro Lo Ovalle</p>
<div class="mapouter">
    <div class="gmap_canvas">
        <iframe width="800" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=gran%20avenida%206950A&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
        <br>
        <style>.mapouter{position:relative;text-align:right;height:500px;width:800px;}</style>
        <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:800px;}</style>
    </div>
    </div>



</div>

        
</section>


<button class="scrollUp-btn"><i class="fas fa-arrow-alt-circle-up"></i></button>
<script src="/js/scrollUp.js"></script>
<script src="/js/productsWrapper.js"></script>
<script src="/js/main.js" type="module"></script>

<script src="/js/scroll-top.js"></script>
<script src="/js/shoppingCart.js"></script>