<form action="/pedido" method="POST" id="pedidoForm">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre">
    <label for="empresa">¿Es cliente empresa?</label>
    <input type="radio" name="empresa" id="inputEmpresa">
    <input type="submit" value="Enviar" id="pedidoSubmit">
</form>                     

<div class="product-wrapper">
    <button type="submit" value="1">1</button>
    <button type="submit" value="2">2</button>
    <button type="submit" value="3">3</button>
</div>




<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>