

{{#if productResults}}
<div class="results-title">
    <h2>PRODUCTOS</h2>
</div>

<div class="models-panel">
    <div class="models">
        <a href="/admin/products">Productos</a>
    </div>
    <div class="models">
        <a href="/admin/categories">Categorías</a>
    </div>
    <div class="models">
        <a href="/admin/compatibility">Asignación</a>
    </div>

</div>


<div class="btnToAdmin">
    <a href="/admin"><i id="btnBackAdmin" class="fas fa-arrow-alt-circle-left"></i></a>
    <a class="backToPanel" href="/admin">Volver al panel</a>
</div>

<div class="adminResults">
    
{{!--     <div class="options-box">
        
        <a href="/admin/submodels/add"><i class="fas fa-plus-circle"></i></a>
        <a href="">Agregar producto</a>
        
    </div> --}}
    <table class="resultsTable">
        
    <tr class="firstColumn"><td>Acciones</td><td>SKU</td><td>Nombre</td><td>Precio</td></tr>
   {{#each productResults}}
    <tr><td><a class="option" href="/admin/products/edit?id={{id}}"><i class="far fa-edit"></i></a><a class="option"href="#"><i class="far fa-trash-alt"></i></a></td><td>{{SKU}}</td><td>{{nombre}}</td><td>{{precio}}</td></tr>
    {{/each}}
    </table>
</div>
    



</div>
{{/if}}

<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>