<h1 id="termsTitle" class="cart-title">TÉRMINOS Y CONDICIONES</h1>
<div class="termsContainer">
    <h2>Sobre nuestra información en la web</h2>
    <p>
        
        En el sitio de comercio electrónico <strong>autonueve.cl</strong> el cliente tiene la posibilidad de adquirir diversos productos del área automotriz. Cada producto contiene sus detalles. Aún cuando <strong>autonueve.cl</strong> trabaja arduamente para mantener fotografías, textos e informaciones importantes, estos son sometidos a constante revision y modificación por parte de los fabricantes. Es por este motivo que el producto que recibe el consumidor puede que no corresponde exactamente con la imagen visualizada del producto dentro de la página web.
        <br>
        <br>
        Los productos comercializados por <strong>autonueve.cl</strong> deben ser instalados en vehiculos y/o sistemas recomendados por el fabricante, por un técnico y bajo su propia responsabilidad. <strong>autonueve.cl</strong> no será responsable de las consecuencias de una mala instalación o uso indebido sobre el vehículo.
    </p>
    <h2>Proceso de compra y validación de pedido</h2>
    <p>
        Por medio del sitio web <strong>autonueve.cl</strong> es que realizamos ventas online, las que son aceptados por el cliente, asi como los mecanismos que ofrecemos para realizar la compra.
        <br>
        <br>
        Una vez realizada la compra en el sitio web, esta quedará sujeta a una validación de transacción. Esto quiere decir que para toda transacción que se efectúe en el sitio, la confirmación, validación y verificación por parte de <strong>autonueve.cl</strong> será requisito para la formación del consentimiento. El proceso de validación es el siguiente:
    </p>
    <ol>
        <li>Confirmación de stock disponible de productos solicitados al momento en que se acepta la oferta</li>
        <li>Validación del medio de pago seleccionado por el cliente</li>
        <li>Validación de datos registrados en el proceso de compra por el cliente</li>
    </ol>
    <p>
        Al momento de ser validada la transacción <strong>autonueve.cl</strong> se contactará con el cliente vía correo electrónico a la dirección e-mail ingresada por este al momento de registrar sus datos personales.
        <br>
        <br>
        El consentimiento se entenderá desde el momento en que se envía la confirmación al cliente
    </p>
    <h2>Cambio de producto</h2>
    <p>
        Si el cliente desea cambiar el producto comprado por otro producto, debe informarse a través de nuestro correo electrónico <strong>ventas@autonueve.cl</strong> para coordinar y recibir la aceptación del cambio de producto.
        Luego deberá enviar el artículo haciendose cargo de los gastos de envío, el artículo debe estar acompañado de todos los posibles accesorios entregados y con su respectivo empaque en buenas condiciones.
        <br>
        <br>
        Si el artículo es enviado incompleto o dañado parcialmente, <strong>autonueve.cl</strong> aplicará un cobro dependiendo del diagnóstico que realice el personal técnico. <strong>autonueve.cl</strong> justificará este cobro al cliente a través de correo electrónico o vía telefónica.

    </p>
</div>

<script src="/js/pedido.js"></script>
<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>