        <div class="footer-container">

            <div class="contact-us ">

                <h3 class="explore-title">Contacto</h3>
                <p>autonueveventas@gmail.com</p>
                <p>+56 9 7431 1300</p>
                <p> 22-55872249</p>
                <p>9-74311300</p>

                <h3 class="explore-title">Dirección</h3>
                <p>AVENIDA JOSE MIGUEL CARRERA 6950-A</p>
 

            </div>

            {{!-- <h3 class="explore-title">
                Navega
            </h3>

            <div class="explore">
     
                <a class="explore-item" href="#services">
                    Servicios
                </a>
                <a  class="explore-item" href="#products">
                    Productos
                </a>
                <a  class="explore-item" href="#contact">
                    Contacto
                </a>
                <a  class="explore-item" href="/location">
                    Ubicación
                </a>
            </div> --}}
            <img src="https://res.cloudinary.com/keyzen/image/upload/v1633300448/mobalzen/autonueve/Group_166_n0avie.svg" alt="">
        </div>

        <div class="copyright">
            <h5>Repuestos Autonueve - Todos los derechos reservados</h5>
        </div>
