        <div class="footer-container">

            <div class="contact-us ">

                <h3 class="explore-title">Contacto</h3>
                <p>contacto@gmail.com</p>
                <p>+569 99999999</p>
 

            </div>

            <h3 class="explore-title">
                Navega
            </h3>

            <div class="explore">
     
                <a class="explore-item" href="#services">
                    Servicios
                </a>
                <a  class="explore-item" href="#products">
                    Productos
                </a>
                <a  class="explore-item" href="#contact">
                    Contacto
                </a>
            </div>
            <img src="https://res.cloudinary.com/keyzen/image/upload/v1633300448/mobalzen/autonueve/Group_166_n0avie.svg" alt="">
        </div>

        <div class="copyright">
            <h5>Repuestos Autonueve - Todos los derechos reservados</h5>
        </div>
