        <!-- Menú de navegación -->
        <nav class="nav">

            <a class="logo-container" href="/">
                <img class="nav-logo" src="https://res.cloudinary.com/keyzen/image/upload/v1633300448/mobalzen/autonueve/Group_166_n0avie.svg" alt="" >
                {{!-- <img class="nav-logo" src="https://res.cloudinary.com/keyzen/image/upload/v1676435777/252049896_156257380108324_5539956518987705601_n-removebg-preview_2_knedc2.png" alt=""> --}}

            </a>
                    <div class="search-container">
            <div class="search-component">

                    <input placeholder="Filtro"id="search-input" type="text" name="search">
                    <button id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>



            </div>
        </div>

            <!-- Btn escondido, saldrá en mobile -->

            <img class="nav-btn" id="btn-menu" src="https://res.cloudinary.com/keyzen/image/upload/v1619997547/mobalzen/repuestosMontenegro/Group_163_gft7ii.svg" alt="">
            <!-- Enlaces -->
            <div id="nav-menu" class="nav-menu">
                <a class="nav-menu__item" href="/">INICIO</a>
                <div class="dropdown">
                <div class="dropbtn nav-menu__item" id="nav-categories">CATEGORÍAS
                                    <div id="categories-dropdown" class="dropdown-content">
                    
                </div>
                </div>

                </div>
                <a class="nav-menu__item" href="/nosotros">NOSOTROS</a>
                <a class="nav-menu__item" id="contact-btn" href="/contacto">CONTACTO</a>
{{!--                 <div class="nav-menu__item"><a id ="signin-btn" class="nav-menu__item"  href="/signin">INGRESAR</a></div>
 --}}                
                <a href="/checkout" style="display:flex; justify-content:center; align-items:center; align-content:center; text-decoration:none;">
                    <i class="fas fa-shopping-cart" style="color:#fff;font-size:1.5rem;"></i>
                    <a class="shopping-cart" style="color:#ccc; display:flex; justify-content:center; align-items:center; align-content:center;text-decoration:none; " href="/checkout"></a>
                </a>
     
            </div>




            <script>
                (() => {

                    let dropdown = document.querySelector(".dropdown-content")

                    fetch('/categories')
                    .then(res => {  
                        return res.json()
                    })
                    .then(data => {
                        data.map(category => {
  
                            let nombre = category['nombre'];
                            let listedCategory = `<a href="/categories/${nombre.toLowerCase()}/1">${nombre.toUpperCase()}</a>`;
                            dropdown.insertAdjacentHTML('afterbegin', listedCategory)

                        })
                    })
                })()
            </script>
    


        </nav>

        <script>
    function myTestFunction() {
        window.open("https://wa.link/vnopzx")
    }
</script>
<a style="border: none; background:none; position: fixed; z-index: 30; right: 1rem; top:5.5rem">
                <img style="max-width:90px; cursor:pointer;" src="https://res.cloudinary.com/keyzen/image/upload/v1676433528/whatsapp_sdz8hu.png" alt="whatsapp" onclick="myTestFunction()">
                </a>


                    <div class="wrapper-whatsapp"></div>



            


