        <!-- Menú de navegación -->
        <nav class="nav">

            <a class="logo-container" href="/">
                <img class="nav-logo" src="https://res.cloudinary.com/keyzen/image/upload/v1619996856/mobalzen/repuestosMontenegro/Group_162_kh3drx.svg" alt="" >


            </a>

            <!-- Btn escondido, saldrá en mobile -->

            <img class="nav-btn" id="btn-menu" src="https://res.cloudinary.com/keyzen/image/upload/v1619997547/mobalzen/repuestosMontenegro/Group_163_gft7ii.svg" alt="">
            <!-- Enlaces -->
            <div class="nav-menu">
                <a class="nav-menu__item" href="/">Inicio</a>
                <a class="nav-menu__item" href="/repuestos.html">Repuestos</a>
                <a class="nav-menu__item" href="/baterias.html">Baterías</a>
                <a class="nav-menu__item" href="/location.html">Ubicación</a>
                <a class="nav-menu__item" id="contact-btn" href="/contacto.html">Contacto</a>
                <a id ="signin-btn" class="nav-menu__item"  href="/signin">Signin</a>
            </div>
        </nav>

        <!-- Imagen principal -->
        <div class="main-image">

            <div class="image-content">
                <img src="https://res.cloudinary.com/keyzen/image/upload/v1619995231/mobalzen/repuestosMontenegro/Group_1_jms7zj.svg" alt="">
                <h1>Tenemos los repuestos que necesitas</h1>
            </div>

        </div>
