        <!-- Menú de navegación -->
        <nav class="nav">

            <a class="logo-container" href="/">
                <img class="nav-logo" src="https://res.cloudinary.com/keyzen/image/upload/v1633300448/mobalzen/autonueve/Group_166_n0avie.svg" alt="" >


            </a>

            <!-- Btn escondido, saldrá en mobile -->

            <img class="nav-btn" id="btn-menu" src="https://res.cloudinary.com/keyzen/image/upload/v1619997547/mobalzen/repuestosMontenegro/Group_163_gft7ii.svg" alt="">
            <!-- Enlaces -->
            <div id="nav-menu" class="nav-menu">
                <a class="nav-menu__item" href="/">INICIO</a>
                <a class="nav-menu__item" href="/repuestos.html">REPUESTOS</a>
                <a class="nav-menu__item" href="/baterias.html">BATERIAS</a>
                <a class="nav-menu__item" href="/location.html">UBICACION</a>
                <a class="nav-menu__item" id="contact-btn" href="/contacto.html">CONTACTO</a>
                <div class="nav-menu__item"><a id ="signin-btn" class="nav-menu__item"  href="/signin">INGRESAR</a></div>
                
            </div>
        </nav>

        <!-- Imagen principal -->
        <div class="main-image">

            <div class="image-content">
                <img src="https://res.cloudinary.com/keyzen/image/upload/v1619995231/mobalzen/repuestosMontenegro/Group_1_jms7zj.svg" alt="">
                <h1>Tenemos los repuestos que necesitas</h1>
            </div>

        </div>

        <div class="wrap-search">
            <h2>BUSCADOR DE REPUESTOS</h2>
        </div>
