        <!-- Menú de navegación -->
        <nav class="nav">

            <a class="logo-container" href="/">
                <img class="nav-logo" src="https://res.cloudinary.com/keyzen/image/upload/v1633300448/mobalzen/autonueve/Group_166_n0avie.svg" alt="" >


            </a>

            <!-- Btn escondido, saldrá en mobile -->

            <img class="nav-btn" id="btn-menu" src="https://res.cloudinary.com/keyzen/image/upload/v1619997547/mobalzen/repuestosMontenegro/Group_163_gft7ii.svg" alt="">
            <!-- Enlaces -->
            <div id="nav-menu" class="nav-menu">
                <a class="nav-menu__item" href="/">INICIO</a>
                <div class="dropdown">
                <div class="dropbtn nav-menu__item" id="nav-categories">CATEGORÍAS
                                    <div id="categories-dropdown" class="dropdown-content">
                    
                </div>
                </div>

                </div>
                <a class="nav-menu__item" href="/location">UBICACION</a>
                <a class="nav-menu__item" id="contact-btn" href="/contacto">CONTACTO</a>
{{!--                 <div class="nav-menu__item"><a id ="signin-btn" class="nav-menu__item"  href="/signin">INGRESAR</a></div>
 --}}                
                <a href="/checkout" style="display:flex; justify-content:center; align-items:center; align-content:center; text-decoration:none;">
                    <i class="fas fa-shopping-cart" style="color:#fff;font-size:1.5rem;"></i>
                    <a class="shopping-cart" style="color:#ccc; display:flex; justify-content:center; align-items:center; align-content:center;text-decoration:none; " href="/checkout"></a>
                </a>
     
            </div>




            <script>
                (() => {

                    let dropdown = document.querySelector(".dropdown-content")

                    fetch('/categories')
                    .then(res => {  
                        return res.json()
                    })
                    .then(data => {
                        data.map(category => {
  
                            let nombre = category['nombre'];
                            let listedCategory = `<a href="/categories/${nombre.toLowerCase()}/1">${nombre.toUpperCase()}</a>`;
                            dropdown.insertAdjacentHTML('afterbegin', listedCategory)

                        })
                    })
                })()
            </script>
    


        </nav>
        <div class="search-container">
            <div class="search-component">

                    <input id="search-input" type="text" name="search">
                    <button id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>



            </div>
        </div>


<script>
    function myTestFunction() {
        window.open("https://wa.link/vnopzx")
    }
</script>
                    <div class="wrapper-whatsapp"></div>



            <script>
                const btn = `<a style="border: none; background:none; position: fixed; z-index: 30; right: 1rem; bottom:6rem">
                <img style="max-width:70px; cursor:pointer;" src="images/whatsapp.png" alt="whatsapp" onclick="myTestFunction()">
                </a>`;

                if ((window.location.href.split("/")[3] !== 'categories') || (window.location.href.split("/")[4] !== 'categories' ) {
                    const wrapperWhatsapp = document.querySelector(".wrapper-whatsapp");
                    wrapperWhatsapp.insertAdjacentHTML("beforebegin", btn)
                }

            </script>



