        <!-- Menú de navegación -->
        <nav class="nav">

            <a class="logo-container" href="/">
                <img class="nav-logo" src="https://res.cloudinary.com/keyzen/image/upload/v1633300448/mobalzen/autonueve/Group_166_n0avie.svg" alt="" >


            </a>

            <!-- Btn escondido, saldrá en mobile -->

            <img class="nav-btn" id="btn-menu" src="https://res.cloudinary.com/keyzen/image/upload/v1619997547/mobalzen/repuestosMontenegro/Group_163_gft7ii.svg" alt="">
            <!-- Enlaces -->
            <div id="nav-menu" class="nav-menu">
                <a class="nav-menu__item" href="/">INICIO</a>
                <div class="dropdown">
                <button class="dropbtn nav-menu__item">CATEGORÍAS</button>
                <div id="categories-dropdown" class="dropdown-content">
                    
                </div>
                </div>
                <a class="nav-menu__item" href="/location">UBICACION</a>
                <a class="nav-menu__item" id="contact-btn" href="/contacto.html">CONTACTO</a>
                <div class="nav-menu__item"><a id ="signin-btn" class="nav-menu__item"  href="/signin">INGRESAR</a></div>
                
                <a href="/checkout" style="display:flex; justify-content:center; align-items:center; align-content:center; text-decoration:none;">
                    <i class="fas fa-shopping-cart" style="color:#fff;font-size:1.5rem;"></i>
                    <a class="shopping-cart" style="color:#ccc; display:flex; justify-content:center; align-items:center; align-content:center;text-decoration:none; " href="/checkout"></a>
                </a>
     
            </div>
      

            <script>
                (() => {

                    let dropdown = document.querySelector(".dropdown-content")

                    fetch('/categories')
                    .then(res => {  
                        return res.json()
                    })
                    .then(data => {
                        data.map(category => {
  
                            let nombre = category['nombre'];
                            let listedCategory = `<a href="/categories/${nombre.toLowerCase()}/1">${nombre.toUpperCase()}</a>`;
                            dropdown.insertAdjacentHTML('afterbegin', listedCategory)

                        })
                    })
                })()
            </script>
    


        </nav>
        <div class="search-container">
            <div class="search-component">

                    <input id="search-input" type="text" name="search">
                    <button id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>

                    <script>
                            const searchRequest = async (search) => {
                                window.location.href = `/search/${search}/1`
                            }
                        const searchBtn = document.getElementById("search-btn");
                          const searchInput = document.getElementById("search-input")

                        searchBtn.addEventListener("click", e => {
                                searchRequest(searchInput.value)
                         })
                        searchInput.addEventListener("keypress", function(event) {
                            // If the user presses the "Enter" key on the keyboard
                            if (event.key === "Enter") {
                            // Cancel the default action, if needed
                            event.preventDefault();
                            searchRequest(event.target.value)
                            // Trigger the button element with a click
                            document.getElementById("myBtn").click();
                            }
                        });
                    </script>

            </div>
        </div>

        <!-- Imagen principal -->
        <div class="main-image">

            <div class="image-content">
                <img src="https://res.cloudinary.com/keyzen/image/upload/v1619995231/mobalzen/repuestosMontenegro/Group_1_jms7zj.svg" alt="">
                <h1>Tenemos los repuestos que necesitas</h1>
            </div>

             

        </div>




