<div class="btnToAdmin">
    <a href="/admin-nueve"><i id="btnBackAdmin" class="fas fa-arrow-alt-circle-left"></i></a>
    <a class="backToPanel" href="/admin-nueve/models">Volver al panel</a>
</div>
<h1 style="color:#4C6EA7; margin:2rem 0;">Detalle Modelo</h1>
<form class="edit-form" action="/admin-nueve/models/edit" method="post">
    <label for="nombre">Nombre</label><input type="text"  name="nombre" value={{results.nombre}} disabled>
    <input type="hidden" name="id" value={{results.id}}>
    
</form>

<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>