<form class="edit-form" action="/admin/submodels/edit" method="post">
    <label for="nombre">Nombre</label><input type="text"  name="nombre" value="{{results.nombre}}">
    <input type="hidden" name="id" value={{results.id}}>
    <input type="submit" value="Enviar">
    
</form>

<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>