/* main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin:0 auto;


}

.compatibility {
    overflow: hidden;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    height:100px;
    display: flex;
    width:100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom:2rem;

    a {
        width:50%;
        text-decoration: none;
    }
}

.title-container {
    
    padding:1rem;
    text-align: center;
}

.title-container a {
    
    text-decoration: none;
    font-size:1.5rem;
    color:#ddd;
}

.title-container a:hover,
.title-container a:active,
.title-container a:visited{
    color:#fff;
    font-weight: bold;
}




#addUserForm{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#addUserForm input {
    margin:.5rem 0;
}

/* Container imagenes links */

.main-container {

    .index-title{
        padding:2rem 0;
        padding-bottom:4rem;
        color:#444;
        line-height: 3rem;
        .subtitle-index {
            font-weight: 500;
        }
    }

    .compatibility {
        display:flex;
        gap:1rem;
        

        .compatibility-link{
            width:50%;
            background-image: url('../images/cotizaciones.jpeg');
            background-position: center;
            background-size: cover;
            height:100%;
            font-size: 1.2rem;
            display:flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            color:#ddd;
            font-weight: bold;
    
        }

        .compatibility-link:hover {
            color:#fff;
        }

        .compatibility-link:hover,
        .compatibility-link:active,
        .compatibility-link:active {
            color:#fff;

        }

        .compatibility-link:nth-child(1) {
            background-image: url('../images/repuestos.jpeg');
        }
        .compatibility-link:nth-child(2) {
            background-image: url('../images/compatibilidad.jpg ');
            background-position: 60% 40%;
        }
    }

    .links-container {

        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template:"clientes cotizaciones"
                      "fabricantes repuestos";
        gap:1rem;

        .link:nth-child(1) {
            grid-area: clientes;
            background-image: url('../images/clientes.jpg');
            background-position: center;
            background-size: cover;
            border-radius:1rem 0 0 0;
            -webkit-border-radius:1rem 0 0 0;
            -moz-border-radius:1rem 0 0 0;
            -ms-border-radius:1rem 0 0 0;
            -o-border-radius:1rem 0 0 0;
        }
        .link:nth-child(2){
            grid-area:cotizaciones;
            background-image: url('../images/cotizaciones.jpeg');
            background-position: center;
            background-size: cover;
            border-radius: 0 1rem 0 0;
            -webkit-border-radius: 0 1rem 0 0;
            -moz-border-radius: 0 1rem 0 0;
            -ms-border-radius: 0 1rem 0 0;
            -o-border-radius: 0 1rem 0 0;
        }
        .link:nth-child(3){
            grid-area:fabricantes;
            background-image: url('../images/fabricantes.jpg');
            background-position: center;
            background-size: cover;
            border-radius: 0 0 0 1rem ;
            -webkit-border-radius: 0 0 0 1rem ;
            -moz-border-radius: 0 0 0 1rem ;
            -ms-border-radius: 0 0 0 1rem ;
            -o-border-radius: 0 0 0 1rem ;
        }
        .link:nth-child(4){
            grid-area:repuestos;
            background-image: url('../images/modelos.jpg');
            background-position: center;
            background-size: cover;
            border-radius: 0 0 1rem 0;
            -webkit-border-radius: 0 0 1rem 0;
            -moz-border-radius: 0 0 1rem 0;
            -ms-border-radius: 0 0 1rem 0;
            -o-border-radius: 0 0 1rem 0;
        }

        /* HOVERS IMAGENES   */
        
        .link:nth-child(1):not(:hover),
        .link:nth-child(2):not(:hover),
        .link:nth-child(3):not(:hover),
        .link:nth-child(4):not(:hover) {
            transition: transform .8s ease;
            -webkit-transition: transform .8s ease;
            -moz-transition: transform .8s ease;
            -ms-transition: transform .8s ease;
            -o-transition: transform .8s ease;
}

        .link:nth-child(1):hover {
            transform: translateX(-10px);
            -webkit-transform: translateX(-10px);
            -moz-transform: translateX(-10px);
            -ms-transform: translateX(-10px);
            -o-transform: translateX(-10px);
            transition:transform .5s ease;
        }
        .link:nth-child(2):hover {
            transform: translateX(10px);
            -webkit-transform: translateX(10px);
            -moz-transform: translateX(10px);
            -ms-transform: translateX(10px);
            -o-transform: translateX(10px);
            transition:transform .5s ease;
        }
        .link:nth-child(3):hover {
            transform: translateX(-10px);
            -webkit-transform: translateX(-10px);
            -moz-transform: translateX(-10px);
            -ms-transform: translateX(-10px);
            -o-transform: translateX(-10px);
            transition:transform .5s ease;
        }
        .link:nth-child(4):hover {
            transform: translateX(10px);
            -webkit-transform: translateX(10px);
            -moz-transform: translateX(10px);
            -ms-transform: translateX(10px);
            -o-transform: translateX(10px);
            transition:transform .5s ease;
            -webkit-transition:transform .5s ease;
            -moz-transition:transform .5s ease;
            -ms-transition:transform .5s ease;
            -o-transition:transform .5s ease;
        }
    }

    .link {
        width:300px;
        height:300px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-decoration: none;
        color:#fff;
        font-weight: bold;
        font-size: 1.5rem;

        span {
            padding:1rem;
            background-color: rgba(1,1, 1, .1);
            border-radius:.5rem ;
            -webkit-border-radius:.5rem ;
            -moz-border-radius:.5rem ;
            -ms-border-radius:.5rem ;
            -o-border-radius:.5rem ;
}

    }

    .link:active,
    .link:visited{
        color:#fff;
    }

   

}



                                                /* Nuevos estilos */


.options-box {

    height:50px;
    background-color: #6EA0F3;
    line-height: 0;
    margin:0;
    padding:1rem;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap:.5rem;

    .fas.fa-plus-circle {
        color:#fff;
        font-size: 1.5rem;
    }

    a {
        text-decoration: none;
        color:#fff;
    }


}


.results-title {
    height:60px;
    width:100%; 
    background-color: #6EA0F3;
    h2 {
        color:#fff;
    }

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    margin-bottom:2rem;
    
}
.btnToAdmin {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    gap:.5rem;


    .backToPanel {

        text-decoration: none;
        margin-bottom:.3rem;
        color:#4C6EA7
    }
    #btnBackAdmin {
        margin-top:1.5rem;
        font-size: 2rem;
        color:#4C6EA7
    }
}



/* Agregar submodelo */

.add-form {
    display: flex;
    flex-direction: column;
    border:1px solid #ddd;
    padding:2rem;
}


#logout {
    font-size: 1.2rem;
    height:60px;
    width:100px;
    background-color: #6EA0F3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color:#fff;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}


