.edit-form {
    display:flex;
    border:1px solid #ddd;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding:2rem;
    gap:.3rem;
    width:50%;
    min-width:350px;
    input {
        padding:.5rem;
        width:90%;
        min-width:300px;
    }

    textarea {
        width:90%;
        height:150px;
        min-width:300px;
        resize:none;
    }

    label {
        margin: .5rem 0;
        color:#333;
        font-weight: bold;
    }
    
}