.edit-form {
    display:flex;
    border:1px solid #ddd;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    max-width:800px;
    padding:2rem;
    gap:.3rem;
    input {
        padding:.5rem;
    }

    textarea {
        width:300px;
        height:150px;
        min-height:150px;
        max-height:300px;
        min-width:200px;
        max-width:300px;
    }

    label {
        margin: .5rem 0;
        color:#333;
        font-weight: bold;
    }
    
}