img {
    max-width:100%;

}

#signin-btn {

    color:#ddd;    

    border:1px solid #ddd;
    padding:.5rem;     
    height:100%;
    
    
}

#signin-btn:hover {
    background-color: #fff;
    color:#4C6EA7;
}


.header {

    .nav {
        #nav-menu > a:nth-child(7) > i,
        #nav-menu > a.shopping-cart {
            margin-top:1rem;
        }

        display:flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        background-color: $primary-color;
        padding:.25rem;
        .logo-container {
            
            padding:0;
            margin-top:.5rem;
            line-height: 0;
           
            .nav-logo {
                padding:0;
                margin:0;
                line-height: 0;
                width:200px;
                
            }

      


        }



        .nav-btn {
            width:50px;
            cursor: pointer;
            display:none;

}

        .hidden {
            visibility: visible;
            display: block;

}
        .nav-menu {

            line-height: 0;


            text-decoration: none;
            .nav-menu__item {
                text-decoration: none;

            }
        }
    }

    .main-image {
        background-image: url('https://res.cloudinary.com/keyzen/image/upload/v1633315176/Group_167_vt12w7.png');
        background-position: center;
        background-clip: border-box;
        background-repeat: no-repeat;
        background-size: cover;
   
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding:0;
        margin:0;
        line-height: 0;
      

        height:350px;

        .image-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            img {

                margin-left:2rem;
                width:100px;
            }

            h1 {
                color:#fff;
                font-family: $primary-font;
                font-size: 5vw;
                
                

            }


        }
    }
}


/* MENU */


        .nav {

            .nav-menu {

                
                background-color: rgba($color: #000000, $alpha: 
                .9);
                display:flex;
                flex-direction: column;
                align-items: #F9B200;
           
                align-content: center;
                justify-content: center;
                text-align: center;
        
                position:fixed;
                z-index:998;
                width:100%; 
             
                opacity: 1;
                top:0;
                bottom:0;
                right: 0;
                left: 0;
        
                transform: translateX(100%);
                -webkit-transform: translateX(100%);
                -moz-transform: translateX(100%);
                -ms-transform: translateX(100%);
                -o-transform: translateX(100%);
        
                .nav-menu__item {
                    padding: 0 .2rem;

                    margin:2rem 0;
                    padding:0;
                    font-size: 1.5rem;
                    color:#fff;
                    font-weight: 800;
                }
        
        
        
        
            }
        
            .nav-menu.active {
                transition:transform .5s ease;
                transform: translateX(0%);
                -webkit-transform: translateX(0%);
                -moz-transform: translateX(0%);
                -ms-transform: translateX(0%);
                -o-transform: translateX(0%);
            }
        }
    

.search {
    padding:4rem 0;
    background-color: #6EA0F3;
    width:100%;
    height:350px;
    line-height: 0;
    margin-bottom: 3rem;

    h2 {
        color:#fff;
        margin:0;
        padding:0;
        margin-bottom:2.5rem;
    }
    
    .search-info {
        color:#fff;
        margin-top:1.6rem;
        padding:0;
        font-size: .9rem;
    }
}

@media (min-width: 440px) {
    .search {

        height:250px;

    
        h2 {
            color:#fff;
            margin:0;
            padding:0;
            margin-bottom:2.5rem;
        }
    }
}

@media (min-width: 992px) {
    .search {

        height:230px;

        .search-info {
            margin-top:2.2rem;
            font-size: 1rem;
        }

    }
}


.wrap-search {
    height:100px;
    background-color: #6EA0F3;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    h2 {
        color:#f7f7fe;
        font-size: 1.5rem;
        text-align: center;

    }
}
