.main {
    text-align: center;
    width:100%;
    .search {

        

   

    .arrow {
    text-align: center;
    margin: 1rem;
        a {
            color: white; 
            text-decoration: none; 
            cursor:initial; 
        }
    }
    .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    }

    @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
    }


        .index-forms {
            width:100%;
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:1rem;
    
            button, input {
                border:none;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                outline: none;
                padding:.5rem;
                background-color: #fff;
              
            }
        }
    }
}


body {
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.15rem;
    }

}

.main {

    width:100%;
    text-align: center;

    

    .services {
        width:100%;
        background-color: #f3f3f7;
        padding:3rem 0;
        .services-text {
          
            text-align: center;
            width:95%;
            max-width:1200px;
            margin:0 auto;
  

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-content: center;
            align-items: center;
            
            .services-title {
                color:#4C6EA7;
                font-size: 1.5rem;


            }
            .border-line {
                width:100px;
                height:3px;
                background-color: $primary-color;

            }
            p {
                line-height:1.5rem;
            }
            h3 {
                color:#6EA0F3
            }

  
        }
        .services-images {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 1200px;
            margin:0 auto;
            gap:2rem;


            .services-image {
                width:90%;
                max-width:300px;
                height:100px;
                background-position: center;
                background-clip: border-box;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                padding:0;
                margin:0;
                line-height: 0;
                border-radius:.5rem;
                -webkit-border-radius:.5rem;
                -moz-border-radius:.5rem;
                -ms-border-radius:.5rem;
                -o-border-radius:.5rem;
                -webkit-border-radius:.5rem;

                cursor:pointer;
                color:#fff;
                font-weight: bolder;

        
            }
            .image-1 {
                background-image: url('https://res.cloudinary.com/keyzen/image/upload/v1619891291/mobalzen/repuestosMontenegro/pexels-erik-mclean-4732635-min_dn8cdn.jpg');

                transition: transform .3s ease-in-out;
                -webkit-transition: transform .3s ease-in-out;
                -moz-transition: transform .3s ease-in-out;
                -ms-transition: transform .3s ease-in-out;
                -o-transition: transform .3s ease-in-out;
                box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
            }
            
            .image-2 {
                background-image:       url('https://res.cloudinary.com/keyzen/image/upload/v1619891291/mobalzen/repuestosMontenegro/pexels-anete-lusina-4792505-min_vgbbpm.jpg');;
         
                transition: transform .3s ease-in-out;
                -webkit-transition: transform .3s ease-in-out;
                -moz-transition: transform .3s ease-in-out;
                -ms-transition: transform .3s ease-in-out;
                -o-transition: transform .3s ease-in-out;
                box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

            .image-2:hover,
            .image-1:hover {
                transition: transform .5s ease-out;
                transform: translateY(-1rem);
                box-shadow: -2px 6px 5px rgba(0, 0, 0, 0.35);
                -webkit-transition: transform .5s ease-out;
                -moz-transition: transform .5s ease-out;
                -ms-transition: transform .5s ease-out;
                -o-transition: transform .5s ease-out;
}

            #neumaticos-logo {
                background-image: url('https://www.ocu.org/-/media/ocu/images/home/coches/neumaticos/neumaticos_nuevos_1600x900.png?rev=8e333b7a-fa7f-4a63-ac58-7bbfd376ceb0&hash=DBD8AFFE1EA30D0990C0E28D88D947BD');
            }

            #aceite-logo {
                background-image: url('https://siempreauto.com/wp-content/uploads/sites/9/2021/12/Aceite-lubricante-de-motor.jpg?quality=60&strip=all&w=1200');
            }
        }
    }

    .suppliers {
        margin-top:3rem;
        max-width: 1200px;
    }

    .us {
        max-width: 1200px;
    }

    .suppliers-text,
    .slider-text,
    .us-text {

        h2 {
            color:#4C6EA7;
        }

    

        .border-line {
            width:100px;
            height:3px;
            background-color: $primary-color;
        } 
        text-align: center;
        width:100%;
        margin:0 auto;
        max-width:1440px;


        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;

        p {
            line-height:1.5rem;
        }
        
    }

    /* Proveedores */

    .suppliers-text {
        max-width:1200px;
        h2 {
            color:#4C6EA7;
        }
        p {
            span {
                font-weight: bolder;
            }
        }
    }

    /* Logos de marcas */

    .logos {
        display: flex;
        
        margin:2rem 0 3rem 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        gap:1.5rem;
        
        padding:2rem 0;

        background-color: $light-gray;

        .first-row,
        .second-row {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap:2.5rem;

        }

        #logo-hyundai{
      
            width:24vw;
        }
        #logo-liqui {
            width:18vw;
        }
        #logo-renault {
            width:15vw;
        }

        .logo-image {
            min-width:50px;
            width:21vw;
            
        }
    }

}



.btnCart {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
    display:none;

    position:relative;

    a {
        position:absolute; top:-1px;  right:.7rem; bottom:0; margin:0;
        color:#fff;
   
    }

    svg {
        color:#6EA0F3;
        width:30px;
    }
    position:fixed;
    left:2rem;
    bottom:2rem;
    width:60px;
    height:60px;
    border:none;
    background-color: #fff;
    border-radius:5rem;

    #cart-circle {
        position:absolute; top:-.2rem;  right:0; bottom:0; margin:0;
    }


    

}

.compatibility-option {
    width:300px;
}

.container-selector {

        width:100%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap:1rem;
        
        div {
            width:90%;
            max-width: 700px;
            
        }



}


.restar-btn {
    border:none;
    width:35px;
    height:35px;
    border-radius:50%;
    background-color: #82AEF5;
    color:#fff;
    font-weight: bold;
} 

.sumar-btn {
    border:none;
    width:35px;
    height:35px;
    border-radius:50%;
    background-color: #82AEF5;
    color:#fff;
    font-weight: bold;
}
.input-cantidad {
    color:#007bff;
    margin:0 .7rem;
    padding:.4rem;

}