body {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: "header"
                           "main"
                           "footer";
}

