                   /* MediaQueries INDEX */



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    /* Header */

    body {
        .main-image {
            .image-content {
                img {
                    width:150px;
                }

                h1 {
                    font-size:1.5rem;
                }
            }
        }
        
        .header {
            .nav {
                .logo-container {
                    .nav-logo {
                        
                    }
                }
            }
    
    
            
        }
    }

   

    /* Main */

    body {
        .main {

            .products {
                .product {
                    width:230px;
                }
            }

            .services {
                .services-images {
                   
                    justify-content:center;
                    gap:2rem;  

                    .services-image {
                        width:40%;
                        height:200px;
                    }
                }
            }

            .suppliers {
                .logos {
                    #logo-kia {
                        width:120px;
                    }
                    #logo-liqui {
                        width:110px;
                    }

                    #logo-philips {
                        width:120px;
                    }

                    #logo-hyundai {
                        width:160px;
                    }

                    #logo-renault {
                        width:100px;
                    }

                    #logo-castrol {
                        width:140px;
                    }
                    .logo-image {
                        width:150px;
                    }
                }
            }
        }
    }

    /* Footer */

    body {
        .footer {
            margin-top:5rem;
            .footer-container {
                img {
                    width:150px;
                }
            }
        }
    }


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    /* Header */

    body {

        .main-image {
            .image-content {
                h1 {
                    font-size:1.7rem;
                }
            }
        }

        h2 {
            font-size: 1.5rem; 
            line-height: 2rem;
        }
        h3 {
            font-size:1.3rem;
        }

        p {
            font-size:1.1rem;
        }



        .header {
            .nav {
                height:80px;
                #nav-menu > a:nth-child(7) > i,
                #nav-menu > a.shopping-cart {
                    margin:0;
                }
    
                
                justify-content: space-around;

                .nav-menu {
                    transform: translateX(0);
                    display:flex;
                    flex-direction: row;
                    z-index:30;

                    gap:1rem;
                    width:fit-content;
                    position:relative;
                    opacity: 1;
                    background-color:transparent;
                    

                    
                    
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    
                
                    .nav-menu__item {
                        margin:1rem 0;
                        padding: 0 .2rem;

                        font-size: .9rem;
                        color:#fff;
                    }
            
            
            
            
                }
            
            }


        }
    }

    /* Main */

    body {


        

        .main {
            .services {

                .services-text {
                    .services-title {
                        font-size: 2rem;
                        align-self: flex-start;
                    }
                    h3 {
                        font-size: 1.3rem;
                    }
                    .border-line {
                        display: none;
                    }
                    p {
                        align-self: flex-start;
                    }
                }
             
                .services-images {
                    padding:2rem 0;
                    .services-image {
                        width:40%;
                        height:250px;
                        h4 {
                            font-size: 1.25rem;
                        }
                    }
                }
            }

            .container-slider {
                .slider-text{
                    .slider-title {
                        font-size: 1.5rem;
                    }
                }
            }

            .suppliers {
                .suppliers-text {
                    h2 {
                        font-size: 2rem;
                        line-height: 2rem;
                        align-self: flex-start;
                    }
                    p {
                        font-size: 1.1rem;
                        text-align: start;
                    }
                    .border-line {
                        display: none;
                        
                    }
                }
            }

            .us {
                .us-text {
                    h2 {
                        font-size: 2rem;
                        line-height: 2rem;
                        align-self: flex-start;
                    }
                    p {
                        font-size: 1.2rem;
                        text-align: start;
                    }
                    .border-line {
                        display: none;
                    }
                }
            }
        }
    }

    /* Footer */

    /* single product */

    body {

        .products {

            .product-card {
                display:flex;
                flex-direction: row;
            }
        }

    }



}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    /* Header */

    body {
        .main-image {
            height:400px;
            width:100%;
        }

    }

    /* Main */

    /* Footer */


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .header {
        .nav {
            #signin-btn {
                padding:.5rem;
            }
        }
    }


    #nav-menu {
        .nav-menu__item {
            margin:1rem 0;
            padding:0;
            font-size: 1.2rem !important;
            color:#fff;
        }

    }

    /* Header */
    body {
        max-width:2560px;
        margin:0 auto;v
        .main-image {
            height:400px;
            width:100%;
        }


    }
    /* Main */

    body {
        

        

        .main {
            .services {
             
                .services-images {
                    justify-content: center;
                    gap: 2rem;
                    .services-image {
                        width:50%;
                        height:250px;
                        max-width:250px;

                        h4 {
                            font-size:1.5rem;
                        }
                    }
                }
            }
            .suppliers {
                .logos {
                    gap:4.5rem;
                    .first-row,
                    .second-row {
                        gap:4.5rem;
                    }
                }
            }
        }
    }

    /* Footer */

    /* CRUD Models */



}


                                                