.subtitle-products {
    text-align: start;
    display:block;
    padding:2rem;
    color:#444;
}

.products {
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    .product {
        border:1px solid #f1f1f1;

        padding:.5rem;
        width:47%;


        img {
            max-width:100%;
            height:auto;
        }

        .product-name,
        .product-sku,
        .product-brand {
            text-align: start;
        }

        .product-name {
            height:90px;
            color:#555;
            font-size: .9rem;
        }

        .product-sku {
            font-size: .7rem;
        }

        .product-brand {
            font-weight: bold;
            color:#555;
            font-size: .8rem;
        }

        p {
           
                grid-area: price;
                display: flex;
                justify-content: flex-start;
                text-align: start;
                align-items: center;
                align-content: center;
                color:#4C6EA7;
                font-weight: bold;
                line-height: 10px;
    
   
       
        }

        .product-button {

            display:flex;
            justify-content: space-around;
         
            input {
                text-align: center;
                margin: 0 auto;
                color:#555;    
            }

            button {

                margin:0 1rem;

            }

            button:hover {
                cursor:pointer;
            }

        }

        .product-amount {

            .amount {
                padding-top:1rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                .number {
                    width:30px;
                }
            }

        }

    }



}


.wrap-lastProducts {
    max-width: 100%;
}

@media (min-width: 576px) {
    /* Header */

    .products {
        width:90%;
        min-width:500px;
        margin:0 auto;
        gap:2rem;
    }

    /* Main */

    /* Footer */


}