* {
    box-sizing: border-box;
}


.title {
    margin:6rem auto 2rem auto;
    font-weight: bolder;
    font-size: 1.5rem;
    color:#4C6EA7;
}

.products-index {

    margin-bottom:5rem;
}

.pages {
    padding:2rem 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap:1rem;

    .previous-page,
    .next-page {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-decoration: none;
        width:30px;
        height:30px;
        border:1px solid #ddd;
        font-weight: bold;
    }

    a:hover {
        background-color: #4C6EA7;
        color:#fff;
    }

}