body > section.main > div > div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal > span {
    background-color: #fff;
}

body > section.main > div > div.swiper-button-prev,
body > section.main > div > div.swiper-button-next {
    color:#fff;
}


.mySwiper {

    width: 95vw;
    height: 300px;
    max-width: 1200px;
  }


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height:100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

  }

  @media (min-width: 576px) {
        .swiper, .swiper-slide {

            height: 300px;
        }

        
  }


@media (min-width: 576px) { 
       .swiper {
            height: 400px;
        }


 }

@media (min-width: 768px) { 
       .swiper{

            height: 400px;
        }








 }


@media (min-width: 992px) { 
      .swiper {
        height: 400px;

      }


 }


@media (min-width: 1200px) { 
       .swiper{
            height: 500px;
        }
 }





 /* SliderLogos */



 .swiperLogos {
   overflow: hidden;
   width: 100%;
   margin:2rem auto;
   height: 100%;


   .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width:100px;
    height:70px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
 
  .swiper-slide img {
    display: block;
    width: 100px;
  
    height: 100%;
    object-fit: cover;
  }
 }


