@import './config/normalize';
@import './config/variables';
@import 'index';
@import 'search';
@import 'layout';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 1920px;
    font-family: "open sans";
}