@import './config/normalize';
@import './config/variables';
@import 'mediaqueries';
@import 'index';
@import 'product';
@import 'search';
@import 'slider';   
@import 'layout';
@import 'header';
@import 'main';
@import 'checkout';
@import 'signin';
@import 'footer';
@import 'admin';
@import 'admin-models';
@import 'pedido';
@import 'scroll-up';
@import 'loader';
@import 'single-product';
@import 'edit-form';

* {
    font-family: 'Libre Franklin', sans-serif;
}


.btn-style {

    font-family: 'Libre Franklin', sans-serif;
    color:#fff;
    background-color: #6EA0F3;
    border:none;
    padding:.5rem;
    cursor:pointer;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);

}

.btn-style:hover {

    color:#6EA0F3;
    background-color: #fff;

}

.add-button {
    text-decoration: none;
    padding:0 1rem;
    margin-left:.2rem;

    color:#fff;
    background-color: $primary-color;
    border-radius: .5rem;
}

#btn_prev, #btn_next {
    text-decoration: none;
    padding:.75rem .5rem;

    color:#fff;
    background-color: #6EA0F3;
    cursor:pointer;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius:.5rem;
}